<div id="heroine">
    <p class="about">I'm a writer , who writes what I see , I sees other's pain .
    An Independent Girl who Loves Writing , Sweet Songs , Good Food , Photography and Travelling 
    </p>
    <div id="heroine-overlay"></div>
    
</div>



