/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require social-share-button
 *= require_self
 *= require comments
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "summernote";




.alert_wrapper{
    position: absolute;
    width: 100%;
    z-index: 999;
    background: rgba(215, 134, 255, 0.7);
    padding: 2.5rem 0;
    text-align: center;
    margin: 0;
    font-size: 1.25rem;
    font-weight: 700;
    color: #ffffff;
    letter-spacing: 1px;
}
body { 
    padding-top: 50px;
    margin: 0px;
    
}
.navbar-inverse{
    height: 65px;
    font-size: 1.5em;
    padding-top: 10px;
    z-index: 99999;
    transition: all ease .5s;
    // font-family: serif;
    // background-color: #2f2f63;
    // font-size: 1.5em;
    // padding: 20px;
    // border-color: #2f2f63;
    // height: 70px;
    // display: block;
    // position: fixed;
    // width: 100%;
    z-index: 99999;
    transition: all ease .5s;
}
.navbar-brand{
    font-size: 1em;
    transition: all ease .5s;
}
.navbar-collapse{
    background-color: #222222;
    
}

#nav.shrink {
    height: 60px;
    font-size: 1.20em;
    font-family: serif;
    background-color: #222222;
    // background-color: #2f2f63;
    border-color: #2f2f63;
    transition: all ease .5s;
}

#nav.shrink #logo {
   
   font-size: 1.25em;
  transition: all ease .5s;
}
#index-info{
    font-style: italic;
    color: #959dab;
}
#to_top{
    text-align: center;
}
.title{
    text-align: center;
    font-size: 2.5em;
    margin: 50px;
}
.info{
    margin-bottom: 2em;
    font-family: cursive;
    letter-spacing: 0.05em;
    font-size: 1em;
    font-weight: bold;
}
.soc{
    float: left;
    margin-right: 1em;
    font-weight: bold;
    letter-spacing: 0.05em;
}
.social-share-button {
  .ssb-icon {
    background-size: 50px 50px;
    height: 50px;
    width: 50px;
  }
}
.like{
    letter-spacing: 0.05em;
    font-weight: bold;
    text-decoration: none;
}
.com{
    letter-spacing: 0.05em;
    font-weight: bold;
    text-align: center;
}
.next,.prev{
    font-size: 1.5em;
}
.img{
    width:  100px;
    height: 100px;
}
#comments-section{
     display: none;
}
ol#comments{
    font-size: 1.15em;
    list-style-type:none;
    padding: 0;
  
  li {
      margin: 1em 0;
      list-style-type:none;
      
      .date{
          font-size: .8em;
          font-weight: bold;
          color: grey;
      }
      
      p{
          margin: 0;
          font-size: .95em;
      }
  }
} 

#banner{
    width: 100%;
    height: 500px;
    position: fixed;
    display: block;
    top: 50px;
    background: url("http://cdn.wallpapersafari.com/52/71/K8S5LJ.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#banner a{
    
}
#content{
    width: 100%;
    position: relative;
    top: 400px;
    background: white;
    padding: 10px;
    
}

.col-centered{
float: none;
margin: 0 auto;

}

#heroine{
    padding-top: 0px;
    background-image: image-url('cherry.jpg');
    background-size: cover;
    background-position: center center;
    position: relative;
    top: 0;
    bottom: 0;
    height: 100vh;
    z-index: -10;
}

#heroine-overlay{
    padding-top: 0px;
    position: absolute;
    background-color: rgba(0,0,0,0.5);
    top: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    z-index: -5;
}



